@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-primary;
  }
  .header {
    grid-area: header;
  }
  .footer {
    grid-area: footer;
  }
  .main {
    grid-area: main;
  }
  .main-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 10px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
  }
}
