@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-primary;
  }
  .header {
    grid-area: header;
  }
  .footer {
    grid-area: footer;
  }
  .main {
    grid-area: main;
  }
  .main-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 10px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animated-bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #1fbe59, 0 0 20px #1fbe59, 0 0 30px #1fbe59,
        0 0 40px #1fbe59, 0 0 50px #1fbe59, 0 0 60px #1fbe59, 0 0 70px #1fbe59;
    }
    50% {
      text-shadow: 0 0 20px #1fbe59, 0 0 30px #1fbe59, 0 0 40px #1fbe59,
        0 0 50px #1fbe59, 0 0 60px #1fbe59, 0 0 70px #1fbe59, 0 0 80px #1fbe59;
    }
    100% {
      text-shadow: 0 0 10px #1fbe59, 0 0 20px #1fbe59, 0 0 30px #1fbe59,
        0 0 40px #1fbe59, 0 0 50px #1fbe59, 0 0 60px #1fbe59, 0 0 70px #1fbe59;
    }
  }

  .glow-animation {
    animation: glow 2s ease-in-out infinite;
  }
}
